<ion-header>
<ion-toolbar color="secondary">
<ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
routerLink="/verify"></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><ion-icon name="person-circle" style="color:blueviolet;font-size:25px;margin-top: 15px;">
    </ion-icon> 
     Profile Verification</h5>
     <p style="color: grey;">What is the status of my profile?</p><br>
   
   <p style="margin-bottom: 180px;">Please complete your profile application.Post submission if all the details 
    are correct and verified then your profile will be approved within 10 mins.
  </p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;">
    <button type="button" class="btn warning">
      OK</button></div>


</ion-content>
