<ion-header>
  <ion-toolbar color="secondary">
    <p style="font-size: 15px;"><ion-icon name="chevron-back-outline" 
      style="margin-right: 30px;font-size: 20px;margin-left: 10px;color: white;"></ion-icon>Search Company Name</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <p style="color: black;">Search Typing your company name</p>
 
        <ion-searchbar color="white" style="color: gray;"></ion-searchbar>
    
          <ion-list>
            <ion-item>
              <ion-label>'UJJAINI' CONSTRUCTION PRIVATE LIMITED</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>'HAC' HEARING AID CENTRE PRIVATE LIMITED</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>'K' LINE(INDIA) SHIPPING PRIVATE LIMITED</ion-label>
            </ion-item>
          </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <i class="far fa-building" style="font-size: 15px;margin-top: 16px;color: skyblue;"></i>
      </ion-col>
     <ion-col>
    <ion-item>
    <ion-input style="font-size: 13px;font-weight: 600;" placeholder="&nbsp;Start entering your company name"></ion-input>
    </ion-item></ion-col>
  </ion-row>
  </ion-grid>
  <div class="container" style="text-align: center;">
  <button class="btn warning" style="margin-top: 260px;text-align: center;font-weight: bold;">
    Submit<ion-icon name="chevron-forward-outline" style="margin-left: 60px;font-weight: bold;color:orangered"></ion-icon>
  </button></div>

  

</ion-content>
