<ion-header>
  <ion-toolbar color="tertiary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/repayment"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSmkhjE7Nop_7FqY8KeMY5grwE4Nk6tdbpXawDUanYuhcX7VQoC&usqp=CAU"
     style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
     Loan Repayment</h5>
     <p style="color: grey;">What happens if my payment is delayed?</p><br>
   
   <p style="margin-bottom: 180px;">Please complete your profile.Once confirmed based on your Credit History
    you will be assigned a Credit limit.Processing Fees,Interest and Penalty charges for the products will be
    assigned a Credit limit.Processing Fees,Interest and Penalty charges for the products will be then displayed
    accordingly.
  </p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;">
    <button type="button" class="btn warning">
      OK</button></div>

</ion-content>
