<ion-header>
  <ion-toolbar color="secondary">
    <a href="appln">
    <ion-icon name="chevron-back-outline" style="color: white;font-size: 20px;margin-left: 10px;"></ion-icon>
    </a><a href="help">
    <ion-icon name="help-circle-outline" style="color: white;font-size: 22px;margin-left: 260px;"></ion-icon>
    </a> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <h3><img src="https://iconsetc.com/icons-watermarks/flat-circle-white-on-blue/bfa/bfa_rupee/bfa_rupee_flat-circle-white-on-blue_512x512.png"
    style="width: 30px;height: 30px;">
    Flexi Personal Loan</h3>
  <p style="text-align: justify;">A flexible loan option where you can avail the loan amount as direct bank transfer within 5 minutes
    of loan application.All you need is your PAN card, and only one ID & Address Proof(either one of your Aadhaar/Voter ID/Passport).
    you can avail from ₹1000 to ₹50000 for a tenure ranging from 62 days to 6 months.
  </p>
  <ion-text>
  <h5><i class='far fa-file-alt' style="font-size:18px;color: black;"></i>
  DOCUMENTS :</h5></ion-text>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;PAN Card</p>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Address Proof(either of Aadhaar/Voter ID/<a href="" style="margin-left: 18px;">
      Passport/Driving License)</a></p>

  <h5><span class="glyphicon glyphicon-thumbs-up"></span>
  ELIGIBILITY CRITERIA :</h5>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Above 21 years of age</p>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Resident of India.</p>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Should have monthly source of income.</p>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Minimum family income of 15000.</p>

  <h5><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTf5URC2DnrFT9-IfwCtpALpVzEZR1xe7tNFkpcApsx2swlpETZ&usqp=CAU"
    style="height: 20px;width: 20px;">
    LOAN AMOUNT :</h5>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;₹1000 TO ₹50000</p>

  <h5><i class='far fa-calendar-alt' style="font-size:18px;color:black;"></i>
    TENURE :</h5>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;From 62 Days to 6 Months</p>

  <h5><img src="https://static.thenounproject.com/png/204068-200.png" style="width: 30px;height: 30px;">
  INTEREST :</h5>
  <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Interest =x% per annum</p>
</div>
<br>

  <div class="container" style="text-align: center;">
  <a href="instant" style="color: black;text-decoration: none;">
  <button class="btn primary">Check Eligibility
  <ion-icon name="chevron-forward-outline" style="font-size: 18px;
  color: black;margin-left: 30px;">
  </ion-icon></button>
  </a>
  </div>
  <div style="margin-bottom: 20px;"></div>
</ion-content>
