<ion-header>
  <ion-toolbar color="secondary" style="text-align: right;">
  
    <ion-icon name="chevron-back-outline" style="margin-right: 250px;font-size: 20px;color:white"
    routerLink="/documents"></ion-icon>
      
    <ion-icon name="settings-outline" style="font-size: 20px;color: white;" routerLink="/settings">
    </ion-icon>&nbsp;
      
    <ion-icon name="help-circle-outline" style="font-size: 22px;color: white;" routerLink="/help2">
    </ion-icon>
    </ion-toolbar>
    
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img [src]="imgURL" height="200" width="200" >
    <ion-button (click)="getCamera()">From Camera</ion-button>
    <ion-button (click)="getGallery()">From Gallery</ion-button>
  </div>
</ion-content>
