<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/disbursal"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><img src="https://cdn2.iconfinder.com/data/icons/business-and-finance-43/32/23_investment_budget_indian_rupee_startup_funding-512.png"
     style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
     Loan Disbursal<ion-text style="margin-left: 70px;"></ion-text></h5>
     <p style="color: grey;">I applied for a loan but the loan is not yet disbursed</p><br>
   <p style="margin-bottom: 170px;">You have no active loans</p> 
  </div>

  <div class="container" style="text-align: center;font-weight: bold;">
  <button type="button" class="btn warning">
  OK</button></div>

</ion-content>
