<ion-header>
  <ion-toolbar color="secondary">
  <h5><a href="settings" style="color: white;">
    <ion-icon name="chevron-back-outline" 
    style="color: white;font-size: 18px;margin-left: 10px;margin-right: 20px;">
    </ion-icon>About us</a></h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="container">
  <p>CreditMonk is an Instant Personal Loan platform for self-employed and salaried professionals,
     where they can apply for a Personal Loan starting from&nbsp;&nbsp;₹ 1,000 up to ₹ 2 Lakhs as per their requirement. 
     We aim to become the first choice when it comes to quick and convenient Personal Loans. The documentation
     required is very minimal, and the entire process - starting from registration on our app to loan
     disbursement does not take more than 15 minutes. The application process is completely online, and 
     upon approval, the cash is immediately transferred to the bank account of the user. We understand that 
     when you’re in urgent need of funds, long waiting times can be very frustrating, so we eliminated that completely.
</p>
<p>Even if you haven’t taken a loan before, or don’t have a credit card, you can still avail loans with CreditMonk.
   We offer loans in varying ticket sizes and repayment tenures, to suit all your unpredictable financial needs.
    Most of the time, these come up without a warning and can be anything, like a sudden medical emergency,
     festival shopping, paying your EMIs/bills, etc. Even if it’s something you want for yourself, like a
      vacation, booking concert tickets or shopping online, we don’t believe that you must compromise of them 
      just because you have very little or no money. That’s where we come in!
    </p>
    <p>
      As an internet platform, we host multiple non-banking financial companies (NBFCs) who have a license from 
      the Reserve Bank of India (RBI). This includes KrazyBee Services Private Limited and other platform 
      partners. CreditMonk was started by a group of individuals from prestigious institutions such as IIT, IIM,
       and NUS among others, to solve the issue of easy credit among young professionals in India. The founding 
       team feels that the Indian demography has a large population of urban young adults that spends a lot online
      and offline. For such an enormous ecosystem, the need for urgent personal finance for purchase requirements 
      is highly under-served. An appropriate focus towards tech-based credit evaluation can both help this demographic 
      segment significantly and also fuel the Indian economy by encouraging responsible spending behavior among 
      individuals.
    </p>
</div>
</ion-content>
