<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/loan"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><img src="https://www.kindpng.com/picc/m/391-3913327_class-lazyload-lazyload-mirage-cloudzoom-featured-rupee-cash.png"
     style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
     Loan Product Enquiry</h5>
     <p style="color: grey;">In how much time will the money be disbursed in my account?</p><br>
   
   <p style="margin-bottom: 180px;">Once your profile is approved, on addition it'll take only upto 10 mins for
    money to be transferred into your bank account.</p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;margin-top: 70px;">
    <button type="button" class="btn warning">
      OK</button></div>


</ion-content>
