<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/query"></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><i class="glyphicon glyphicon-th-list" style="color: cadetblue;font-size: 25px;margin-bottom: 15px;
      text-align: center;"></i> 
     &nbsp;&nbsp;Didn't find your Query?</h5>
     <p style="color: grey;">My issue is not mentioned?</p><br>
   
   <p style="margin-bottom: 150px;">
    If your issue is not present in any of the categories mentioned on the previous page then contact our customer
    support @ 080-44292200 or email us @ help@creditmonk.in
  </p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;">
    <button type="button" class="btn warning">
      OK</button></div>

</ion-content>
