<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/disbursal"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><img src="https://cdn2.iconfinder.com/data/icons/business-and-finance-43/32/23_investment_budget_indian_rupee_startup_funding-512.png"
     style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
     Loan Disbursal<ion-text style="margin-left: 70px;"></ion-text></h5>
     <p style="color: grey;">I am unable to sign the loan agreement</p><br>
   <p>
   Loan agreement can be signed post you select a bank account for disbursal.While avaling any of the CreditMonk 
  cash loans you can sign the agreement using two ways:-</p>
  <p>
  1.E-sign using Digio:- To sign using this method you need to have access to your aadhaar linked mobile number.
  An OTP will be sent on that number by entering which you can sign the agreement.</p>
  <p>
  2.Sign using OTP:-An OTP will be sent on your CreditMonk registered mobile number and you can submit the same 
  to get your agreement signed.</p>
  <p style="margin-bottom: 70px;">
  While availing any of the shop now products through CreditMonk you can sign the agreement by E-sign using the
  agreement by E-sign using Digio method.To sign using this method you need to have access to your aadhaar linked 
  mobile number.An OTP will be sent on that number by entering which you can sign the agreement. 
  </p>
  </div>

  <div class="container" style="text-align: center;font-weight: bold;">
  <button type="button" class="btn warning" style="margin-bottom: 10px;">
  OK</button></div>
  
</ion-content>
