<ion-header slot="end">

  <ion-toolbar style="text-align: right;" color="secondary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/Artboard 13.png"
          style="width: 120px;height: 60px;margin-right: 100px;">
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
       
        <span class="glyphicon glyphicon-question-sign"
         style="font-size:20px;color:darkslateblue;margin-right: 5px;margin-top: 15px;" routerLink="/help2">
        </span>
        <p style="margin-bottom: 0em;font-size: 12px;"></p>
        </ion-col>
        <ion-col>
        <span class="glyphicon glyphicon-bell" 
        style="font-size: 20px;color: darkslateblue;margin-right: 8px;margin-top: 15px;"></span>
        <p style="margin-bottom: 0em;font-size: 12px;"></p>
        </ion-col>
        <ion-col>
        <ion-icon name="settings-outline" 
        style="font-size: 20px;color: darkslateblue;margin-right: 18px;margin-top: 15px" routerLink="/settings"></ion-icon>
        <p style="margin-bottom: 0em;font-size: 12px;"></p>
        </ion-col>
      </ion-row>
      </ion-grid>

    </ion-toolbar>
    
    </ion-header>

  <ion-content>
 
  <ion-card style="margin-top: 25px;">
    <a href="flexi" style="text-decoration: none;color: black;">
  <ion-card-content>
  <ion-row>
    <ion-col size="2">
  <img src="https://iconsetc.com/icons-watermarks/flat-circle-white-on-blue/bfa/bfa_rupee/bfa_rupee_flat-circle-white-on-blue_512x512.png"
  style="width: 50px;height: 40px;">
  <ion-icon name="lock-closed" style="margin-left: 25px;color: darkslateblue;"></ion-icon> 
  </ion-col>

  <ion-col>
     <p style="font-size: 10px;margin-bottom: 10px;">UPTO</p>
      <h2 style="color: black;font-weight: bold;">₹ 50,000</h2>
     </ion-col>
     <ion-col>
      <ion-badge color="tertiary" style="text-align: right;color: white;font-size: 10px;font-style: italic;">
        Flexi PERSONAL LOAN</ion-badge>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="8">
      <p>Repayment upto 6 months<p>
    </ion-col>  
     <p style="font-size: 14px;color: black;" 
     class="ion-text-end">Know More
    <ion-icon name="chevron-forward" style="font-size: 15px;color: darkslateblue;"></ion-icon></p>
  </ion-row>
  </ion-card-content></a>
  </ion-card>

  <ion-card>
    <a href="personal" style="text-decoration: none;color: black;">
  <ion-card-content>
  <ion-row>
  <ion-col size="2">
  <img src="https://cdn.iconscout.com/icon/free/png-256/investment-budget-indian-rupee-startup-funding-5-6232.png"
  style="width: 50px;height: 40px;" class="img-circle">
   <ion-icon name="lock-closed" style="margin-left: 25px;color: darkslateblue;"></ion-icon> 
  </ion-col>
  <ion-col>
    <p style="font-size: 10px;margin-bottom: 10px;">UPTO</p>
      <h2 style="color: black;font-weight: bold;">₹ 2,00,000</h2>
      </ion-col>
      <ion-col size="6">
        <ion-badge color="tertiary" 
        style="text-align: right;color: white;font-size: 10px;font-style: italic;">
          PERSONAL LOAN - Salaried</ion-badge>
        </ion-col>
     </ion-row>
 <ion-row>
      <ion-col size="8">
    <p>Repayment upto 12 months<p>
    </ion-col>
    <p style="font-size: 14px;color: black;" class="ion-text-end">Know More
    <ion-icon name="chevron-forward" style="font-size: 15px;color: darkslateblue;"></ion-icon></p> 
  </ion-row>
  </ion-card-content></a>
  </ion-card>
  

  <ion-card>
    <a href="online" style="text-decoration: none;color: black;">
  <ion-card-content>
  <ion-row>
    <ion-col size="2">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9okooNU9icnC9gdhfM0_TEsJjYofg2n-8tOZZDNZ0tCoH4Gdm&usqp=CAU"
  style="width: 60px;height: 40px;" class="img-circle">
  <ion-icon name="lock-closed" style="margin-left: 25px;color: darkslateblue;"></ion-icon> 
  </ion-col>
  <ion-col>
    <p style="font-size: 10px;margin-bottom: 10px;">E-voucher UPTO</p>
    <h2 style="color: black;font-weight: bold;">₹ 1,00,000</h2>
    </ion-col>
    <ion-col size="6">
    <ion-badge color="tertiary" style="text-align: right;color: white;font-size: 10px;font-style: italic;">
      Online PURCHASE LOAN</ion-badge>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col size="8">
    <p>Repayment upto 9 months<p>
    </ion-col>
    <p style="font-size: 14px;color: black;" class="ion-text-end">Know More
      <ion-icon name="chevron-forward" style="font-size: 15px;color: darkslateblue;"></ion-icon></p>
    </ion-row>
    </ion-card-content></a>
    </ion-card>
    <br>
    <br>

    <div class="container" style="text-align: center;">
      <a href="instant">
    <button class="btn warning" style="font-weight: bold;font-family: Arial, Helvetica, sans-serif;">
    Check Eligibility
    <ion-icon name="chevron-forward-outline" style="font-size: 18px;font-weight: bold;color: black;
    margin-left: 30px;"></ion-icon>
    </button></a>
    </div>
    <div style="margin-bottom: 20px;"></div>

</ion-content>
