 p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

.btn {
    background-color: orange;
    font-size: 15px;
    text-align: center;
    margin-left: 20px;
    }

.warning {
    color: black;
    padding: 5px 15px;
    }

  