
 .warning1{
     background-color: orange;
     padding: 5px 10px;
 }
 a{
     color: white;
     text-decoration: none;
 }
 .btn3 {
    border: 2px solid skyblue;
    background-color: white;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 20px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
  }

  .but1 {
    border-color:grey;
    color:grey;
    border-radius: 25px;
  }
  
  .but1:hover {
    background:skyblue;
    color:white;
  }

  .but {
    border-color:grey;
    color: grey;
    border-radius: 25px;
  }
  
  .but:hover {
    background:skyblue;
    color:white;
  }

  .warning{
    background-color: orange;
    padding: 5px 10px;
}
.button{
  padding: 8px 30px;
  background-color: orange;
  font-size: 20px;
}

span{
color: red;
font-style: inherit;
font-weight: 600;
text-decoration: none;
text-transform: lowercase;
font-size: 11px;
}
p{
  font-style: inherit;
}


