<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/disbursal"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><img src="https://cdn2.iconfinder.com/data/icons/business-and-finance-43/32/23_investment_budget_indian_rupee_startup_funding-512.png"
     style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
     Loan Disbursal<ion-text style="margin-left: 70px;"></ion-text></h5>
     <p style="color: grey;">I added a bank account but the account is not verified yet</p><br>
   
   <p style="margin-bottom: 180px;">
   No bank account is added for your profile.Please add a bank account first.You need to be the primary account
  holder of that bank account</p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;">
    <button type="button" class="btn warning">
      OK</button></div>

</ion-content>
