.btn {
    border: 2px solid yellow;
    background-color: white;
    color:yellow;
    padding: 5px 65px;
    font-size: 14px;
    cursor: pointer;
  }

  .warning {
    border-color:orange;
    color: black;
  }


  .btn1 {
    background-color: orange;
    padding: 10px 70px;
    font-size: 15px;
    cursor: pointer;
  }

  .warning1 {
    color: black;
  }
  
    
  