<ion-header>
  <ion-toolbar color="secondary">
    <a href="settings">
    <ion-icon name="chevron-back-outline" style="color: white;font-size: 20px;margin-left: 10px;"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="container">
  <h5>Legal</h5></div>
  <ion-list>
    <a href="legal1">
    <ion-item>
    <p>Privacy Policy</p>
    <ion-icon name="chevron-forward-outline" style="font-size: 18px;margin-left: 170px;color: orange;">
    </ion-icon></ion-item></a>

    <a href="legal2">
    <ion-item>
    <p>Terms and Conditions</p>
    <ion-icon name="chevron-forward-outline" style="font-size: 18px;margin-left: 120px;color: orange;">
    </ion-icon>
     </ion-item></a>

     <a href="legal3">
     <ion-item>
     <p>Grievance Redressal Policy</p>
     <ion-icon name="chevron-forward-outline" style="font-size: 18px;margin-left: 80px;color: orange;">
     </ion-icon></ion-item></a>

    <ion-item>
    <p>Lending Partners</p>
    <ion-icon name="chevron-forward-outline" style="font-size: 18px;margin-left: 150px;color: orange;">
    </ion-icon></ion-item>
  </ion-list>

</ion-content>
