<ion-header>
  <ion-toolbar color="secondary" style="text-align: center;"> 
  <img src="assets/Artboard 13.png"
  class="display: block;" style="width: 110px;height: 80px;">
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container" style="text-align: center;margin-top: 50px;">
  <ion-icon name="checkmark-circle" style="font-size: 50px;" routerLink="/appln"></ion-icon>
  <h5>₹5000</h5>
  <h5>Amount Successful</h5>
  <p style="margin-top: 10px;">We have successfully </p>
  <p>sent Amount</p>
</div>


</ion-content>
