<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;
    color: white;" routerLink="/loan"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><img src="https://www.kindpng.com/picc/m/391-3913327_class-lazyload-lazyload-mirage-cloudzoom-featured-rupee-cash.png"
     style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
     Loan Product Enquiry</h5>
     <p style="color: grey;">When do I have to repay my loan?</p><br>
   
   <p style="margin-bottom: 180px;">Every loan product has a different tenure. Based on the tenure a due date is 
  calculated and displayed while availing a loan.Tenure ranges from 62 days to 12 months based on the loan 
  product you are availing. </p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;margin-top: 70px;">
    <button type="button" class="btn warning">
      OK</button></div>

</ion-content>
