<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/help"></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <h5><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSmkhjE7Nop_7FqY8KeMY5grwE4Nk6tdbpXawDUanYuhcX7VQoC&usqp=CAU"
     style="width: 50px;height: 40px;" class="img-circle"> 
     Loan Repayment </h5><br>
     <p style="font-weight: bold;">Recent Issues and Questions</p>
   </div>
     <ion-list>
     <ion-item>
       <p>How can I repay my loan?
        <ion-icon name="chevron-forward-outline" style="margin-left: 100px;color: skyblue;font-size: 15px;"
        routerLink="/repay1">
        </ion-icon> 
       </p>
     </ion-item>
     <ion-item>
       <p>Can I repay my loan using bank account 
       <ion-icon name="chevron-forward-outline" style="margin-left: 20px;color: skyblue;font-size: 15px;"
       routerLink="/repay2">
       </ion-icon>tranfer? </p>
     </ion-item>
     <ion-item>
        <p>Can I repay my loan in cash?
       <ion-icon name="chevron-forward-outline" style="margin-left: 83px;color: skyblue;font-size: 15px;"
       routerLink="/repay3">
       </ion-icon></p>
     </ion-item>
     <ion-item>
       <p>Can I repay my loan using UPI?
      <ion-icon name="chevron-forward-outline" style="margin-left: 70px;color: skyblue;font-size: 15px;"
      routerLink="/repay4">
      </ion-icon></p>
    </ion-item>
    <ion-item>
       <p>What happens if my payment is delayed?
      <ion-icon name="chevron-forward-outline" style="margin-left: 15px;color: skyblue;font-size: 15px;"
      routerLink="/repay5">
      </ion-icon></p>
    </ion-item>
    <ion-item>
       <p>I have repaid my loan installment but it is 
      <ion-icon name="chevron-forward-outline" style="margin-left: 18px;color: skyblue;font-size: 15px;"
      routerLink="/repay6">
      </ion-icon>not updated in the app.</p>
    </ion-item>
    <ion-item>
       <p>I have repaid my loan on time but still it is
      <ion-icon name="chevron-forward-outline" style="margin-left: 15px;color: skyblue;font-size: 15px;"
      routerLink="/repay7">
      </ion-icon> reflecting delay in my credit report.</p>
    </ion-item>
    <ion-item>
       <p>For a single repayment money was 
      <ion-icon name="chevron-forward-outline" style="margin-left: 50px;color: skyblue;font-size: 15px;"
      routerLink="/repay8">
      </ion-icon>deducted from my account twice,I want the &nbsp; refund of extra deducted money</p>
    </ion-item>
    <ion-item>
       <p>What is my repayment date and amount?
      <ion-icon name="chevron-forward-outline" style="margin-left: 13px;color: skyblue;font-size: 15px;"
      routerLink="/repay9">
      </ion-icon></p>
    </ion-item>
     </ion-list>

     <br>
     <div class="container">
     <button type="button" class="btn warning" routerLink="/writemsg">
       Didn't find your query? Message Us</button>
     </div>
 

</ion-content>
