<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/verify"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><ion-icon name="person-circle" style="color:blueviolet;font-size:25px;margin-top: 15px;">
    </ion-icon> 
     Profile Verification</h5>
     <p style="color: grey;">I have once completed the application process but the app is asking for
      reupload of documents?</p><br>
   
   <p style="margin-bottom: 180px;">Please contact customer support @ 080-44292200 to get your query resolved.
  </p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;">
    <button type="button" class="btn warning">
      OK</button></div>


</ion-content>
