<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color:white"
    routerLink="/help2"></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <h5><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSmkhjE7Nop_7FqY8KeMY5grwE4Nk6tdbpXawDUanYuhcX7VQoC&usqp=CAU"
     style="width: 50px;height: 40px;" class="img-circle"> 
     Loan Disbursal</h5><br>
     <p style="font-weight: bold;">Recent Issues and Questions</p>
   </div>
     <ion-list>
     <ion-item>
       <p>I added a bank account but the account
        <ion-icon name="chevron-forward-outline" style="margin-left: 30px;color: skyblue;font-size: 15px;"
        routerLink="/dis1">
        </ion-icon> &nbsp;is not verified yet
         </p>
     </ion-item>
     <ion-item>
       <p>I am unable to sign the loan agreement 
       <ion-icon name="chevron-forward-outline" style="margin-left: 30px;color: skyblue;font-size: 15px;"
       routerLink="/dis2">
       </ion-icon></p>
     </ion-item>
     <ion-item>
        <p>I applied for a loan but the loan is not yet 
          <ion-icon name="chevron-forward-outline" style="margin-left: 20px;color: skyblue;font-size: 15px;"
          routerLink="/dis3">
          </ion-icon> disbursed
       </p>
     </ion-item>
     <ion-item>
       <p>I don't have my mobile number linked with
        <ion-icon name="chevron-forward-outline" style="margin-left: 15px;color: skyblue;font-size: 15px;"
        routerLink="/dis4">
        </ion-icon> aadhaar, how can I sign my loan agreement?
      </p>
    </ion-item>
    </ion-list>

     <br>
     <div class="container">
     <button type="button" class="btn warning" routerLink="/writemsg">
       Didn't find your query? Message Us</button>
     </div>
     
</ion-content>
