<ion-header>
  <ion-toolbar color="tertiary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/repayment"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSmkhjE7Nop_7FqY8KeMY5grwE4Nk6tdbpXawDUanYuhcX7VQoC&usqp=CAU"
     style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
     Loan Repayment</h5>
     <p style="color: grey;">Can I repay my loan using bank account transfer?</p><br>
   
   <p style="margin-bottom: 180px;">You can repay your loan by heading over to the Repayments section and making 
    an online payment.We support payments via Net Banking,Debit Card,UPI,Paytm,Wallet and Bank Transfer. 
  </p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;">
    <button type="button" class="btn warning">
      OK</button></div>

</ion-content>
