<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/help2"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="container">
   <h5><img src="https://media.istockphoto.com/vectors/isolated-hexagon-with-a-rupee-sign-vector-id994611082?b=1&k=6&m=994611082&s=170x170&h=L4nbHbjOpcTR5pq1viEeRIqLN6iUZu4rHcequcKyu6k="
    style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
    Credit Limit <ion-text style="margin-left: 70px;">Enhancement</ion-text></h5><br>
    <p style="font-weight: bold;">Recent Issues and Questions</p>
  </div>
    <ion-list>
    <ion-item>
      <p>What is my Credit Monk?
      <ion-icon name="chevron-forward-outline" 
      routerLink="/creditlimit1" style="margin-left: 100px;color: skyblue;font-size: 15px;">
      </ion-icon></p>
    </ion-item>
    <ion-item>
      <p>How can I increase my credit limit?
      <ion-icon name="chevron-forward-outline" 
      routerLink="/creditlimit2" style="margin-left: 48px;color: skyblue;font-size: 15px;">
      </ion-icon></p>
    </ion-item>
    <ion-item>
       <p>When can the credit limit br decreased?
      <ion-icon name="chevron-forward-outline" 
      routerLink="/creditlimit3" style="margin-left: 20px;color: skyblue;font-size: 15px;">
      </ion-icon></p>
    </ion-item>
    </ion-list>
    <br>
    <div class="container">
    <button type="button" class="btn warning" routerLink="/writemsg">
      Didn't find your query? Message Us</button>
    </div>

    </ion-content>
