<ion-header>
  <ion-toolbar color="secondary" style="text-align: right;">
    <a href="help2" style="color: white;">
  <ion-icon name="help-circle-outline" style="font-size: 22px;margin-right: 10px;color: white;"></ion-icon></a>
</ion-toolbar>
</ion-header>

<ion-content style="margin-top: 10px;">

  <form [formGroup]="formcontrol" (ngSubmit)="getreg()">

  <div class="container">
  <p style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10px;margin-top: 10px;">
    Login with your registered mobile number</p>
  </div>

  
  <ion-grid>
  <ion-row>
    <ion-col size="1">
  <span class="glyphicon glyphicon-phone" style="font-size: 22px;margin-top: 16px;color: skyblue;"></span>
    </ion-col>
   
    <ion-col>
    <ion-item>
    <ion-label position="floating">Mobile</ion-label>
    <ion-input formControlName="phone" type="number" inputmode="numeric" minlength=10 maxlength=10 ></ion-input>
  <!--<ion-input style="font-size: 13px;font-weight: 500;"
  (keypress)="keyPress($event)" [value]="phone" type="text" minlength=10 maxlength=10 
  formControlName="phone" placeholder="&nbsp;&nbsp;
  Enter your registered mobile number">+91</ion-input>-->
  <!--<div *ngIf="valid">
    <p no-margin *ngIf="formcontrol.get('phone').hasError('required')">Phone required </p>
   </div> -->
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.required">
    Mobile number is required.
  </span>
 
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.pattern">
    Please enter 10 digit phone number
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.maxLength">
 mobile number not valid </span>
 <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.minLength">
  Please enter 10 digit phone number
   </span>
  
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="1">
<ion-icon name="person-circle" style="font-size: 22px;margin-top: 16px;color: skyblue;"></ion-icon>
</ion-col>
<ion-col>
<ion-item>
  <ion-label position="floating" >Email-id</ion-label>
  <ion-input type="text" formControlName="name" inputmode="text" required></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
    Email is required.
  </span>
   
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
    Only characters to be allowed.
  </span>
  </ion-col>
  </ion-row>
</ion-grid>


<br>
  
  <br><br><br><br>
  
    <div class="container" style="text-align: center;">
      <a style="color: black">
      <button class="btn warning"
       style="font-weight: bold;font-family: Calibri;font-size: 18px;">
      Login
      <ion-icon name="chevron-forward-outline" style="font-size: 15px;color: black;margin-left: 25px;">
      </ion-icon></button></a>
     </div>
    </form>
</ion-content>
