<ion-header>
  <ion-toolbar color="secondary">
    <a href="appln">
    <ion-icon name="chevron-back-outline" style="color: white;font-size: 20px;margin-left: 10px;"></ion-icon>
    </a><a href="help">
    <ion-icon name="help-circle-outline" style="color: white;font-size: 22px;margin-left: 260px;"></ion-icon>
    </a> 
  </ion-toolbar>
</ion-header>

  <ion-content>
  <div class="container">
    <h3><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9okooNU9icnC9gdhfM0_TEsJjYofg2n-8tOZZDNZ0tCoH4Gdm&usqp=CAU"
      style="width: 40px;height: 40px;" class="img-circle">
      Online Purchase Loan <a style="color:black;margin-left: 50px;">via E-voucher</a></h3>
    <p style="text-align: justify;">
      Online Purchase loan via E-voucher Loan is an offering where you can purchase anything of your choice From
      Proascent partner platforms such as Flipkart,Amazon,Myntra,MakeMyTrip etc.and Pay Credit Monk Later in
      Easy EMIs. The process is very simple:</p>

    <p><a style="color: black;font-weight: bold;">Step 1</a>-Select your preferred partner(such as Flipkart/Amazon/MakeMyTrip etc)and the E-voucher amount</p>
    
    <p><a style="color: black;font-weight: bold;">Step 2</a>-Complete the loan application to get E-vouchers for shopping</p>
    <p><a style="color: black;font-weight: bold;">Step 3</a>-Use the E-voucher on partner website or app to purchase anything</p>
    <h5><i class='far fa-file-alt' style="font-size:18px;color:black;"></i>
    DOCUMENTS :</h5>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;PAN Card</p>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Address Proof(either of Aadhaar/Voter ID/<a href="" style="margin-left: 18px;">
    Passport/Driving License)</a></p>
  
    <h5><span class="glyphicon glyphicon-thumbs-up"></span>
    ELIGIBILITY CRITERIA :</h5>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Above 21 years of age</p>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Resident of India.</p>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Should have monthly source of income.</p>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Minimum family income of ₹15000.</p>
  
    <h5><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTf5URC2DnrFT9-IfwCtpALpVzEZR1xe7tNFkpcApsx2swlpETZ&usqp=CAU"
    style="height: 20px;width: 20px;">
    LOAN AMOUNT :</h5>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;₹2000 TO ₹100000</p>
  
    <h5><i class='far fa-calendar-alt' style="font-size:18px;color:black;"></i>
    TENURE :</h5>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
      &nbsp;&nbsp;Up to 6 Months</p>
  
    <h5><img src="https://static.thenounproject.com/png/204068-200.png" style="width: 30px;height: 30px;">
    INTEREST :</h5>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
      &nbsp;&nbsp;Interest =x% per annum</p>
      
    <h5><i class='far fa-handshake' style="font-size:18px;color:black;"></i>
    OUR PARTNERS </h5>
    <p><ion-icon name="ellipse-outline" style="font-size: 10px;font-weight: bold;"></ion-icon>
    &nbsp;&nbsp;Avail E-voucher for any of the below partners on Proascent</p>
    </div>
    <br>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img src="https://kikkidu.com/wp-content/uploads/2015/06/flipkart-2015.jpg"
          style="width: 180px;height: 50px;">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/gc/designs/livepreview/AmazonGiftCard_Logo._CB481454331_.png"
          style="width: 180px;height: 50px;">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img src="https://www.bitrefill.com/content/cn/b_rgb%3Affffff%2Cc_pad%2Ch_720%2Cw_1280/v1571690591/myntra.png"
          style="width: 180px;height: 50px;">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="https://thelivenagpur.com/wp-content/uploads/2019/09/mmt.png"
          style="width: 180px;height: 50px;">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdhCJ5zyaGpcHhiONi5l_gvPi4070RtE6u-6YWtxyy12UPVeNl&usqp=CAU"
          style="width: 180px;height: 50px;">
        </div>
      </ion-col>
      <ion-col>
        <div>
        <img src="https://jobs.socialsamosa.com/wp-content/uploads/2018/07/Nykaa-logo.png"
        style="width: 180px;height: 50px;">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

    <div class="container" style="text-align: center;">
    <a href="instant" style="color: black;text-decoration: none;">
    <button class="btn primary">Check Eligibility
    <ion-icon name="chevron-forward-outline" style="font-size: 18px;
    color: black;margin-left: 30px;">
    </ion-icon></button></a>
    </div>
<div style="margin-bottom: 20px;"></div>
</ion-content>
