<ion-header>
    <ion-toolbar color="secondary">
      <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;" 
      routerLink="/help">
      </ion-icon>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="container">
      <h5><img src="https://www.kindpng.com/picc/m/391-3913327_class-lazyload-lazyload-mirage-cloudzoom-featured-rupee-cash.png"
       style="width: 50px;height: 40px;" class="img-circle"> 
       Loan Product Enquiry </h5><br>
       <p style="font-weight: bold;">Recent Issues and Questions</p>
     </div>
       <ion-list>
       <ion-item>
         <p>In how much time will the money be
          <ion-icon name="chevron-forward-outline" style="margin-left: 40px;color: skyblue;font-size: 15px;"
          routerLink="/loan1">
          </ion-icon> disturbed in my account?
         </p>
       </ion-item>
       <ion-item>
         <p>when do I have to repay my loan?
         <ion-icon name="chevron-forward-outline" style="margin-left: 48px;color: skyblue;font-size: 15px;"
         routerLink="/loan2">
         </ion-icon></p>
       </ion-item>
       <ion-item>
          <p>What is my credit limit?
         <ion-icon name="chevron-forward-outline" style="margin-left: 110px;color: skyblue;font-size: 15px;"
         routerLink="/loan3">
         </ion-icon></p>
       </ion-item>
       <ion-item>
         <p>What is the interest rate for my loan?
        <ion-icon name="chevron-forward-outline" style="margin-left: 30px;color: skyblue;font-size: 15px;"
        routerLink="/loan4">
        </ion-icon></p>
      </ion-item>
      <ion-item>
         <p>What is the processing fees that will be 
          <ion-icon name="chevron-forward-outline" style="margin-left: 18px;color: skyblue;font-size: 15px;"
          routerLink="/loan5">
          </ion-icon>charged?</p>
      </ion-item>
      <ion-item>
         <p>I don't have my netbanking credentials,
          <ion-icon name="chevron-forward-outline" style="margin-left: 18px;color: skyblue;font-size: 15px;"
          routerLink="/loan6">
          </ion-icon> how do I provide income proof?</p>
      </ion-item>
      </ion-list>

       <br>
       <div class="container">
       <button type="button" class="btn warning" routerLink="/writemsg">
         Didn't find your query? Message Us</button>
       </div>
   
  </ion-content>
