<ion-header>
  <ion-toolbar color="secondary" style="text-align: right;background-color: slateblue;">

    <ion-icon name="chevron-back-outline" style="margin-right: 250px;font-size: 20px;color: white;"
    routerLink="/appln">
    </ion-icon>

    <ion-icon name="settings-outline" style="font-size: 20px;color:white;" routerLink="/settings">
    </ion-icon>&nbsp;
  
    <ion-icon name="help-circle-outline" style="font-size: 22px;color:white;" routerLink="/help2"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <h5>Payment Options</h5>

  <div class="form-check">
    <ion-item>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio" style="color: skyblue;"> PhonePay
    </label>
    </ion-item>
  </div>

  <div class="form-check">
    <ion-item>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio" style="color: skyblue;"> Google Pay
    </label>
    </ion-item>
  </div>

  <div class="form-check">
    <ion-item>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio" style="color: skyblue;"> Paytm
    </label>
    </ion-item>
  </div>

  <div class="form-check">
    <ion-item>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio" style="color: skyblue;"> Net banking
    </label>
    </ion-item>
  </div>
  <br>

  <div class="container" class="ion-text-end">
    <a href="dob" style="color: black;">
    <button class="button warning" >
    <ion-row>
    <ion-col>
    <p style="font-weight: bold;font-family: Calibri;font-size: 15px;">Next</p></ion-col>
    <ion-col size="3">
    <ion-icon name="chevron-forward-outline" style="font-size: 18px;font-weight: bold;color: black">
    </ion-icon>
    </ion-col>
    </ion-row></button></a>
    </div>
    </div>

  
</ion-content>
