<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
    routerLink="/creditlimit"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <h5><img src="https://media.istockphoto.com/vectors/isolated-hexagon-with-a-rupee-sign-vector-id994611082?b=1&k=6&m=994611082&s=170x170&h=L4nbHbjOpcTR5pq1viEeRIqLN6iUZu4rHcequcKyu6k="
     style="width: 50px;height: 40px; text-align: center;margin-right: 15px;" class="img-circle"> 
     Credit Limit <ion-text style="margin-left: 70px;">Enhancement</ion-text></h5>
     <p style="color: grey;margin-top: 20px;">How can I increase my credit limit?</p><br>
   
   <p style="margin-bottom: 180px;">Your profile is currently not approved,please complete your application
    and get your profile approved to obtain a credit limit.</p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;margin-top:70px;">
    <button type="button" class="btn warning">
      OK</button></div>

</ion-content>
