<ion-header>
<ion-toolbar color="secondary">
<ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"
routerLink="/verify"></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h5><ion-icon name="person-circle" style="color:blueviolet;font-size:25px;margin-top: 15px;">
    </ion-icon> 
     Profile Verification</h5>
     <p style="color: grey;">My profile is rejected, when can I reapply?</p><br>
   
   <p style="margin-bottom: 150px;">
    We are sorry that we couldn't approve your profile this time.You can re-apply after 6 months.
  </p>
  </div>

   <div class="container" style="text-align: center;font-weight: bold;">
    <button type="button" class="btn warning">
      OK</button></div>

</ion-content>
