<ion-header>
  <ion-toolbar color="secondary">
    <a href="legal" style="color: white;">
    <h4><ion-icon name="chevron-back-outline" 
      style="color: white;font-size: 18px;margin-left: 10px;margin-right: 15px;">
    </ion-icon>Grievance Redressal Policy</h4></a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <br>
  <p>Customer service is extremely important for sustained business growth and as an organization Finnovation 
    Tech Solutions Private Limited (“Company”) strives to ensure that our customers receive exemplary service 
    across different touch points.</p>

  <h5><u>PURPOSE</u></h5>

  <p>Customer complaints constitute an important voice of customer, and this policy details complaint handling
     through a structured grievance redressal framework. Complaint redressal is supported by a review mechanism,
      to minimize the recurrence of similar issues in future.</p>

  <p>The Grievance Redressal policy follows the following principles:</p>

  <p><ion-text style="color: black;font-size: 14px;">a. </ion-text>Customers are treated fairly;</p>

  <p><ion-text style="color: black;font-size: 14px;">b. </ion-text>Complaints raised by customers are dealt 
    with courtesy and in a timely manner;</p>

  <p><ion-text style="color: black;font-size: 14px;">c. </ion-text>Customers are informed of avenues to escalate their complaints within the organization, and their rights 
    if they are not satisfied with the resolution of their complaints;</p>

  <p><ion-text style="color: black;font-size: 14px;">d. </ion-text>The employees work in good faith and without
     prejudice, towards the interests of the customers.</p>

  <h5><u>INTERNAL MACHINERY TO HANDLE CUSTOMER COMPLAINTS</u></h5>

  <p>The Company has invested in the best in class CRM system to ensure timely resolution of the grievances. 
    The system captures the complaints; follows TATs based on the nature of the query and escalates issues on 
    the basis of predefined TATs and as per the escalation matrix.</p>

  <p>Once captured in the CRM system, the customer care will be responsible for resolution of complaint/grievance 
    to the customer’s satisfaction within a period of fourteen (14) working days. Every attempt will be made to
     offer the customer suitable and appropriate alternate solutions wherever possible. However, if the customer
      continues to remain dissatisfied with the resolution, (s)he can escalate the issue through the grievance 
      redressal mechanism as referred below.</p>

    <h5><u>TIME FRAME</u></h5>

    <p>Suitable timelines of fourteen (14) working days have been set for every complaint depending upon the 
      investigations which would be involved in resolving the same. Complaints are suitably acknowledged on
       receipt and the customers are informed of delays if any, in the resolution.</p>

    <h5><u>REVIEW AND MONITORING</u></h5>

    <p>Periodic review of monitoring of complaints, TATs, nature of complaints will be done to ensure that process
       loopholes, if any, are plugged and trends are checked.</p>

    <h5><u>TOUCH POINTS</u></h5>

    <p>Customer complaints constitute an important voice of customer, and this policy details complaint handling
       through a structured grievance redressal framework. Complaint redressal is supported by a review mechanism,
      to minimize the recurrence of similar issues in future. The customer can raise their concerns pertaining
      to the Credit Monk and KrazyBee Mobile Application(hereinafter referred as “Platform”) or to the lender who 
      provides loan to the customer through the Platform in the following matters:</p>

    <h5><u>GRIEVANCE REDRESSAL MECHANISM OF THE PLATFORM</u></h5>

    <p>Customer can raise their concerns pertaining to the Platform, EMI schedule, Facility Type, Processing Fee
       and / or any other charges or any other concern related to the product to authorised representatives of 
       the Company as below.</p>

    <div class="container">
    <p>Grievance Redressal Officer</p>

    <p>Customers are requested to address all their grievances at the first instance to the Grievance Redressal
       Officer.The contact details of the Grievance Redressal Officer are:</p>

    <p>Mr. Sauraw Kumar
    Designation: Team Lead, Fraud Management
    Address: Finnovation Tech Solutions Private Limited, No.143 A,
    Second Main Road, Mahadevpura, Bengaluru - 560016</p>
    
    <p>Contact: 080-44292200
    Email: help@CreditMonk.in</p>

    <p>The Grievance Redressal Officer may be reached on the number provided above anytime between 10:00 to 19:00
      from Monday to Saturday except public holidays or through the e - mail address above.The Grievance Redressal
      Officer shall endeavour to resolve the grievance within a period of(14) fourteen days from the date of receipt
      of a grievance.</p>

    <h5><u>Nodal Officer</u></h5>
    <p>If the customer does not receive a response from the Grievance Redressal Officer within 14 (fourteen) days
       of making a representation, or if the customer is not satisfied with the response received from the Grievance
      Redressal Officer, the customer may reach the Nodal Officer on the number below anytime between 10:00 to 19:00
      from Monday to Saturday except public holidays or write to the Nodal Officer at the e-mail address below.
      The contact details of the Nodal Officer are provided below.</p>

    <p>Mr. Ajeet Kumar
    Designation: Chief Operating Officer
    Address: Finnovation Tech Solutions Private Limited, No.143 A,
    Second Main Road, Mahadevpura, Bengaluru - 560016</p>

    <p>Contact: 080-44292233
    Email: grievance@CreditMonk.in</p>
    </div>

    <h5><u>GREVIANCE REDRESSAL MECHANISM OF THE LENDER</u></h5>

    <p>For all grievances against the Lender kindly refer to the Grievance Redressal Policy link sent in the welcome
       emailer.</p>
      </div>
    </ion-content>
