.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 20px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
  }

  .but1 {
    border-color:grey;
    color:grey;
    border-radius: 25px;
  }
  
  .but1:hover {
    background:blue;
    color:white;
  }

  .but {
    border-color:grey;
    color: grey;
    border-radius: 25px;
  }
  
  .but:hover {
    background:blue;
    color:white;
  }
  a{
    color: white;
    text-emphasis: none;
  }

 