<ion-header>
  <ion-toolbar color="secondary" style="text-align: right;">
    
    <ion-icon name="chevron-back-outline" style="margin-right: 250px;font-size: 20px;color: white;"
    routerLink="/reference"></ion-icon>
    <ion-icon name="settings-outline" style="font-size: 20px;color: white;" routerLink="/settings"></ion-icon>&nbsp;
    <ion-icon name="help-circle-outline" style="font-size: 22px;color: white;" routerLink="/help2"></ion-icon>
  </ion-toolbar>
  </ion-header>

 <ion-content>

    <div class="container">
    <p style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    Pincode and Income</p>
    </div>

      <ion-grid>
      <ion-row>
      <ion-col size="1">
      <i class="fa fa-map-pin" aria-hidden="true"style="font-size: 22px;margin-top: 16px;color:skyblue;">
      </i>
      </ion-col>
       <ion-col>
      <ion-item>
      <ion-input style="font-size: 13px;font-weight: 600;" 
      type="number" inputmode="numeric" placeholder="&nbsp;Pincode(Current Address)">
      </ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
    </ion-grid>
    
    <div class="container">

      <p style="color: grey;">Employment Type</p></div>
      <ion-grid>
      <ion-row>
      <ion-col size="1">
      <i class="fab fa-black-tie" style="color:skyblue;"></i>
      </ion-col>
      <ion-col size="4">
      <button class="btn but" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        SALARIED</button>
        </ion-col>
        <ion-col>
        <button class="btn but1" style="margin-left: 10px;">SELF-EMPLOYED</button>
        </ion-col>
        </ion-row>
        </ion-grid>

        <p *ngIf="isGroupShown(i)">  
        <ion-grid>
        <ion-row>
        <ion-col size="1">
        <i class="far fa-building" style="font-size: 20px;margin-top: 16px;color: skyblue;"></i>
        </ion-col>
        <ion-col>
        <ion-item>
        <ion-input style="font-size: 13px;font-weight: 600;" routerLink="/company" placeholder="&nbsp;Search company from the list"></ion-input>
        <i class="material-icons" style="font-size: 15px;color: orange;">edit</i>
        </ion-item></ion-col>
        </ion-row>
        </ion-grid>

        <ion-grid>
        <ion-row>
        <ion-col size="1">
        <i class="fa fa-money" aria-hidden="true"
          style="font-size: 18px;margin-top: 16px;color: skyblue;"></i>
         </ion-col>
          <ion-col>
          <ion-item >
          <ion-input style="font-size: 13px;font-weight: 600;" placeholder="&nbsp;Mode of Salary" routerLink="/payment"></ion-input>
          <ion-icon name="chevron-down-outline" style="font-size: 15px;color: orange;"></ion-icon>
        

          </ion-item></ion-col>
        </ion-row>
        </ion-grid>
         </p>

         <ion-grid>
         <ion-row>
          <ion-col size="1">
          <i class="fas fa-rupee-sign" style="font-size:15px;border: 2px solid;color: skyblue;margin-top: 16px;"></i>
          </ion-col>
          <ion-col>
          <ion-item>
          <ion-input style="font-size: 13px;font-weight: 600;" type="number" inputmode="numeric" 
          placeholder="&nbsp;Monthly salary/Income"></ion-input>
          </ion-item></ion-col>
          </ion-row>
          </ion-grid>

          <ion-grid>
          <ion-row>
          <ion-col size="1">
          <i class="fas fa-rupee-sign" style="font-size:15px;border: 2px solid;color: skyblue;margin-top: 45px;"></i>
          </ion-col>
          <ion-col>
          <ion-label style="font-size: 15px;color:gray;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">GST
          18% on Processing Fees</ion-label>
          <ion-item>
          <ion-input type="number" inputmode="numeric" 
          style="font-size: 13px;font-weight: 600;" placeholder="&nbsp;&nbsp;GST Amount"></ion-input>
            </ion-item>
            </ion-col>
            </ion-row>
          </ion-grid>
                
          <ion-grid>
          <ion-row>
          <ion-col size="1">
          <form action="/action_page.php">
          <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
          </form>
          </ion-col>
          <ion-col>
          <p style="font-size: 14px;color: grey;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          text-align: justify;">
          I agree that my monthly Household Income(including income from all people residing in my house)
          is greater than ₹ 17000
          </p>
          </ion-col>
          
          </ion-row>
          </ion-grid>
                
          <div class="container" style="text-align: right;">
          <a href="" style="color: black;">
          <button color="warning" style="background-color: orange;">
          <ion-row>
          <ion-col>
          <p style="font-weight: bold;font-family: Calibri;font-size: 15px;"
          routerLink="/success">Next</p></ion-col>
          <ion-col>
          <ion-icon name="chevron-forward-outline" style="font-size: 18px;font-weight: bold;color: black">
          </ion-icon>
          </ion-col>
          </ion-row>
          </button></a>

        </div> 
      
    </ion-content>
