<ion-header>
 <ion-toolbar color="tertiary">
 <a href="settings" style="color: white;">
 <ion-icon name="chevron-back-outline" style="font-size: 20px;margin-left: 10px;color: white;"></ion-icon></a>
 </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
    <h5>Change Language / भाषा बदलो</h5>
    </div>
    <ion-list>
       <ion-item>
        <ion-label>
       <p style="color: black;">English</p>
       <p>अंग्रेज़ी</p>
       </ion-label>
       <ion-checkbox class="checkbox-square" ng-model="isCheckedCommercial" color="dark"
       style="margin-left: 220px;margin-top: 5px;">value 1</ion-checkbox>
       
    </ion-item>

    <ion-item>
    <ion-label>
      <p style="color: black;">हिन्दी</p>
      <p>Hindi</p>
      </ion-label>
      <ion-checkbox class="checkbox-square" ng-model="isCheckedCommercial" color="dark"
     style="margin-left: 220px;margin-top: 5px;">value 1</ion-checkbox>
    </ion-item>
    </ion-list>

</ion-content>