<ion-content>
  <div class="container-fluid" style="background-color:skyblue;text-align: center;" >
    <p style="color: #ffffff; margin-top: 60px;font-size: 18px;">Welcome!</p>
    
  <img src="assets/Artboard 13.png"
  class="display: block;" style="width: 150px;height: 130px;text-align: center;">

  <p style="color: white;text-align: center;font-size: 20px;margin-bottom: 30px;">Get instant loan </p>
</div>

<p style="text-align: center;font-size: 20px;margin-top: 30px;color: blue">
  Register or login </p>

  <p style="text-align: center;font-size: 20px;margin-bottom: 30px;color: blue;">
     using Mobile Number</p>

  <div class="container" style="text-align: center;">
    <a style="color: black">
    <button class="btn warning" routerLink="/reg"
    style="font-weight: bold;font-family: Calibri;font-size: 18px;">
    Continue<ion-icon name="chevron-forward-outline" style="font-size: 15px;color: black;margin-left: 25px;"></ion-icon>
    </button></a>
   </div>
</ion-content>
<br>

