 <ion-header>
  <ion-toolbar color="secondary">
    <a href="appln" style="color: white;">
    <ion-icon name="chevron-back-outline" style="font-size: 22px;margin-left: 10px;color: white;"></ion-icon></a>
  </ion-toolbar>
 </ion-header>

 <ion-content>

  <div class="container">
  <h5>Settings</h5>
  </div>
  
  <ion-list>
  <a href="help2">
    <ion-item>
    <p><ion-icon name="help-circle" style="font-size: 20px;margin-top: 15px;color: skyblue;"></ion-icon>
    &nbsp;Help</p>
    <ion-icon name="chevron-forward-outline" 
    style="font-size: 18px;margin-top: 15px;margin-left: 200px;color: skyblue;">
    </ion-icon>
    </ion-item></a>

    <a href="about">
    <ion-item>
    <p><ion-icon name="alert-circle" style="font-size: 18px;margin-top: 15px;color:skyblue;"></ion-icon>
    &nbsp;About Us</p>
    <ion-icon name="chevron-forward-outline" 
    style="font-size: 18px;margin-top: 15px;margin-left: 170px;color: skyblue;">
    </ion-icon>
    </ion-item></a>

    <a href="legal">
    <ion-item>
    <p><i class="fa fa-legal" style="font-size: 18px;margin-top: 15px;color:skyblue;"></i>&nbsp;&nbsp;Legal</p>
    <ion-icon name="chevron-forward-outline" 
    style="font-size: 18px;margin-top: 15px;margin-left: 200px;color: skyblue;">
    </ion-icon>
    </ion-item></a>

    <ion-item>
    <p><i class="fab fa-vimeo-square" style="color: skyblue;"></i>&nbsp;&nbsp;App Version</p>
    <ion-text style="margin-left: 130px;">0.3.8</ion-text>
    </ion-item>
    <a href="exm">
    <ion-item>
    <p><i class="fa fa-language" style="font-size: 20px;margin-top: 15px;color: skyblue;">
    </i>&nbsp;Change Language / भाषा बदलो</p>
    <ion-icon name="chevron-forward-outline" 
    style="font-size: 18px;margin-top: 15px;margin-left: 20px;color: skyblue;"></ion-icon>
    </ion-item></a>

    <a href="">
    <ion-item routerLink="/reg">
    <p><span class="glyphicon glyphicon-log-out" style="font-size: 20px;margin-top: 15px;color:skyblue;"></span>
    &nbsp;Logout</p>
    </ion-item></a>
    </ion-list>
  
</ion-content>
